@using Sindh_University_Transport_MS.Models
@model IEnumerable<Sindh_University_Transport_MS.Models.Area>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/SidebarDesign/css/style.css">

    <title>Index</title>
</head>
<body>
    <div style="margin-top:30px" class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">

                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        @Html.ActionLink("Back to cities", "Index", "Home")
                        <a>Areas</a>
                    </li>
                    @foreach (var item in Model)
                    {
                        <li>   @Html.ActionLink(item.Name, "Locations", new { id = item.Id })</li>

                   
                    }

                </ul>

            </div>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    
                </div>
                <div style="margin-right:800px">
                    @Html.ActionLink("Home", "Index", "Home")
                </div>
                





            </nav>

            @{Html.RenderAction("AllPointsCities");}
        </div>

    </div>
    <script src="~/SidebarDesign/js/jquery.min.js"></script>
    <script src="~/SidebarDesign/js/popper.js"></script>
    <script src="~/SidebarDesign/js/bootstrap.min.js"></script>
    <script src="~/SidebarDesign/js/main.js"></script>

</body>
</html>
